.wrapper {
    display: grid;
    justify-content: center;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 0em 10em;
    margin-top: 4em;
    margin-bottom: 0em;
    margin-right: 5em;
    /* margin-left: 22em; */
 }
.data1{
    position: absolute;
   
    grid-column-start: 1;
    
    grid-row-start: 1;
    
}

.data2{
    position: absolute;
   
    grid-column-start: 2;
    
    grid-row-start: 1;
    
}

.data3{
    position: absolute;
    
    grid-column-start: 3;
    
    grid-row-start: 1;
    
}
.data4{
    position: absolute;
    
    grid-column-start: 1;
    
    grid-row-start: 2;
    
}
.data5{
    position: absolute;
    
    grid-column-start: 2;
    
    grid-row-start: 2;
    
}
.data6{
    position: absolute;
    
    grid-column-start: 3;
    grid-row-start: 2;
    
}