.status-com-form {
    width: 90%;
    margin: 20px auto;
}

.status-com-form, form {
    text-align: center;
}

.status-label {
    width: 400px;
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    padding: 7px 0;
    font-weight: 700;
    font-size: 1.2rem;
}

.status-com-form select {
 min-width: 300px;
}

.status-container p {
    text-align: center;
    font-size: 0.5em;
}

.driver-select{
    display: flex;
    justify-content: center;
    gap:2vw;
    margin-top: 3vh;
}

.command-buttons{
    border: none;
    padding:5px 5px;
    border-radius: 5px;
}

.command-buttons:hover{
    cursor: pointer;
    background-color: rgb(207, 206, 206);
}