body {
    background: #4F2683;
    background-repeat: no-repeat;
    background-position:center center;
  }
  
  .sidebar {
    position: absolute;
    width: 121px;
    height: auto;
    left: 0px;
    top: 0px;
    padding-bottom: 30px;
    background: #222222;
  }
  
  .sidebaritem {
    position: relative;
    margin-bottom: 53px;
    width: 79px;
    height: 75.19px;
    left: 19px;
    top: 33px;
  }

  .window {
    position: absolute;
    background-color: #222222;
  }