.timer {
    text-align: center;
}

.logo {
    width: 50%;
    margin: 15px auto;
}

.timer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
}

.timer-grid-item-label {
    text-align: center;
}

.timer-grid-item-content {
    font-variant-numeric: tabular-nums; /* remove variable font width */
    text-align: left;
}
    
.timer-grid-1  { grid-area: 1 / 1 / 2 / 2; }
.timer-grid-2  { grid-area: 1 / 2 / 2 / 3; }
.timer-grid-3  { grid-area: 2 / 1 / 3 / 2; }
.timer-grid-4  { grid-area: 2 / 2 / 3 / 3; }
.timer-grid-5  { grid-area: 3 / 1 / 4 / 2; }
.timer-grid-6  { grid-area: 3 / 2 / 4 / 3; }
.timer-grid-7  { grid-area: 4 / 1 / 5 / 2; }
.timer-grid-8  { grid-area: 4 / 2 / 5 / 3; }
.timer-grid-9  { grid-area: 5 / 1 / 6 / 2; }
.timer-grid-10 { grid-area: 5 / 2 / 6 / 3; }

.time-critical {
    color: red;
}