
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vmin;
  }
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-left: 1px solid black;
  margin: 5px auto;
}

td, th {
  width: 10%;
  overflow: hidden;
  padding: 2px;
}

.unit {
  width: 23px;
  border-right: 1px solid black;
}
  
.green {
  background-color: #27ae60;
}
.blue {
  background-color: #0984e3;
}
.red {
  background-color: #d63031;
}

.orange {
  background-color: #f0932b;
}

.grid-container {
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 35vw 16vw 35vw 1fr;
    grid-template-rows: 6.25vh;
    grid-gap: 1.2vmin; 
    padding: 1.5vmin;
  }
  
.grid-item {
    background-color: rgba(198, 223, 238, 0.774);
    border: 0.2vmin solid #ffffff;
    border-radius: 2vmin;
    padding: 1.2vmin;
    text-align: center;
    
  }

.button {
    text-decoration: none;
    border: 0.2vmin solid black;
    border-radius: 0.7vmax;
    width: 90%;
    font-size: 2vmin;
    font-weight: bolder;
    padding: 0.8vmin;
    margin: 0.6vmin;
}

.status {
  border: 0.2vmin solid black;
  border-radius: 0.7vmax;
  width: 70%;
  font-size: 2vmin;
  font-weight: bolder;
  padding: 0.8vmin;
  margin: auto;
  margin-bottom: 10px;
}

.height {
  height: 25%;
  width: 100%;
}

.height h4 {
  margin-bottom: 2px;
}

.height input {
  text-align: center;
}

h5 {
  color: #ffffff;
}

.item-1 {
    grid-row: 1 / 8;
    grid-column: 1 / 2;
  }
.item-2 {
    grid-row: 8 / 16;
    grid-column: 1 / 2;
  
  }
.item-3 {
  border: 1px solid black;
  background-color:black;
    grid-row: 1 / 7;
    grid-column: 2 / 3;
  }
.item-4 {
    grid-row: 7 / 10;
    grid-column: 2 / 3;
  }
.item-5 {
    grid-row: 10 / 16;
    grid-column: 2 / 3;
  }
.item-6 {
    grid-row: 1 / 7;
    grid-column: 3 / 4;
  }
.item-7 {
    grid-row: 7 / 16;
    grid-column: 3 / 4;
  }
  
.item-8 {
    grid-row: 1 / 16;
    grid-column: 4 / 5;
    
    
  }

#com-port {
  background-color: white;
  margin-top: 3px;
}

.inch {
  font-size: 30px;
}