.create-recording{
    text-align: center;
    height: 100%;
    position: relative;
    top: 1vh;
}

.recording-button{
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 20px;
}

.recording-input-top {
    width: 100%;
    margin: 3vh 1vh 1vh 1vh;
    position: absolute;
    top: 1vh;
}

.recording-button-bottom {
    width: 100%;
    margin: 15vh auto 2vh auto;
    bottom: 5vh;
}

.database-viewer-button {
    background-color: lightskyblue;
    color: #333333;
    padding: 8px 16px;
    border-radius: 10px;
}