<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
<body>

<div class="sidebar">
  <img class="sidebaritem" src="/assets/Icons/map-location.png">
  <img class="sidebaritem" src="/assets/Icons/target.png">
  <img class="sidebaritem" src="/assets/Icons/airplane-shape.png">
  <img class="sidebaritem" src="/assets/Icons/folder.png">
  <img class="sidebaritem" src="/assets/Icons/paper-plane.png">
  <img class="sidebaritem" src="/assets/Icons/speedometer.png">
  <img class="sidebaritem" src="/assets/Icons/video-camera.png">
  <img class="sidebaritem" src="/assets/Icons/wifi-signal.png">
</div>

</body>
</html> 